<header>
  <p>아주대 수강신청 도우미</p>
</header>

<ng-template #logOutTemplate>
    <div id="changingDiv">
      <button class="h_btn" onclick="document.getElementById('signupModal').style.display='block'">회원가입</button>
      <button class="h_btn" onclick="document.getElementById('loginModal').style.display='block'">로그인</button>
      <div class="modalDiv">
        <div id="loginModal" class="modal">
          <div class="modal-content">
            <span class="modal-close" onclick="document.getElementById('loginModal').style.display='none'" (click)="clearLoginModal()">&times;</span>
            <h1>로그인</h1><br>
            <input type="text" [(ngModel)]="userID" placeholder="아이디">
            <input type="password" [(ngModel)]="userPassword" placeholder="비밀번호">
            <button (click)="handleLogInOut(true)" onclick="document.getElementById('loginModal').style.display='none'">확인</button>
          </div>
        </div>
      </div>
    <div class="modalDiv">
      <div id="signupModal" class="modal">
        <div class="modal-content">
          <span class="modal-close" onclick="document.getElementById('signupModal').style.display='none'" (click)="clearSignupModal()">&times;</span>
          <h1>회원가입</h1><br>
          <input type="text" placeholder="아이디" [(ngModel)]="signUpID">
          <input type="text" placeholder="이름" [(ngModel)]="signUpName">
          <input type="password" placeholder="비밀번호" [(ngModel)]="signUpPw">
          <input type="password" placeholder="비밀번호 확인" [(ngModel)]="re_signUpPw">
          <button (click)="signUp()" onclick="document.getElementById('signupModal').style.display='none'">확인</button>
        </div>
      </div>
    </div>
  </div>
  <main>
    <h2 style="text-align: center;">로그인이 필요합니다.</h2>
    <h2 style="text-align: center;">로그인 후 사용해주세요.</h2>
    <h2 style="text-align: center;">아이디가 없으시다면 회원가입 후 진행해주세요.</h2>
  </main>
</ng-template>
<ng-template #logInSugangTemplate>
  <div>
    <button class="h_btn" (click)="handleLogInOut(false)">로그아웃</button>
    <p class="p_name"><b>{{userName}}</b>님 안녕하세요.</p>
  </div>
  <div>
    <ul>
      <li id="sugang1" (click)="changeCurrentPage(1)"
          [style.border-bottom]="(currentPage === 1) ? '3px solid black' : '1px solid lightgray'"
          [style.background-color]="(currentPage === 1) ? 'ghostwhite' : 'white'">수강신청</li>
      <li id="sugang2" (click)="changeCurrentPage(2)"
          [style.border-bottom]="(currentPage === 2) ? '3px solid black' : '1px solid lightgray'"
          [style.background-color]="(currentPage === 2) ? 'ghostwhite' : 'white'">시간표 조회</li>
    </ul>
  </div>
  <app-suganglist *ngIf="sugangList"
                  [sugangList]="sugangList"
                  (updateSugangList)="getAllSubjects_F($event)"
                  (orderUp)="subjectOrderUp($event)"
                  (orderDown)="subjectOrderDown($event)"
  >
  </app-suganglist>
</ng-template>
<ng-template #logInTimetableTemplate>
  <div id="timetableScreen">
    <div>
      <button class="h_btn" (click)="handleLogInOut(false)">로그아웃</button>
      <p class="p_name"><b>{{userName}}</b>님 안녕하세요.</p>
    </div>
    <div>
      <ul>
        <li id="sugang1" (click)="changeCurrentPage(1)"
            [style.border-bottom]="(currentPage === 1) ? '3px solid black' : '1px solid lightgray'"
            [style.background-color]="(currentPage === 1) ? 'ghostwhite' : 'white'">수강신청</li>
        <li id="sugang2" (click)="changeCurrentPage(2)"
            [style.border-bottom]="(currentPage === 2) ? '3px solid black' : '1px solid lightgray'"
            [style.background-color]="(currentPage === 2) ? 'ghostwhite' : 'white'">시간표 조회</li>
      </ul>
    </div>
    <div id ='engine'>
      <app-engine [enrollList_T] = enrollList_T
                  (reflectEnrollListEvent) = reflectEnrollList_T($event);
                  (updateSugangList) ="getAllSubject($event)"
                  [Monday]= Monday
                  [Tuesday]= Tuesday
                [Wednesday]=Wednesday
                [Thursday]=Thursday
                [Friday]=Friday
                [numberingArray]=numberingArray
    ></app-engine>
    </div>
  </div>
</ng-template>
