#searchEngine{
  padding: 10px;
  background-color: azure;
  float: left;
}
.firstRow{
}
.subjectType{
}
.major{
}
.subjectDay{
}
.subjectTime{
}
.secondRow{
  margin-top: 10px;
}
.subjectName{
}
td{
  width: 200px;
  padding: 10px;
  vertical-align: top;
}
td.button{
  width: 50px;
  padding: 10px;
  vertical-align: middle;
}
#subjectName{
  width: 200px;
  height: 30px;
  font-size: 9pt;
}
#professorName{
  width: 130px;
  height: 30px;
  font-size: 9pt;
}
select{
  width: 100px;
  height: 32px;
  font-size: 10pt;
}
button{
  width: 70px;
  height: 30px;
  font-size: 10pt;
  margin-right: 20px;
  background-color: lightblue;
}

