#middleDiv{
  margin-top: 50px;
  text-align: center;
  overflow: hidden;
}
#sugangListDiv{
  float:left;
  position:relative;

  width: 600px;
  height: 500px;
  margin:0 auto;

  background: white;
}
#alarmDiv{
  /*display:inline-block;*/
  float: left;
  text-align: center;
  width: 600px;
  height: 500px;

  position:relative;
}

#sugangAddDiv{
  margin : 5px;
  text-align: center;
}

#outerDiv{
  margin-top: 30px;
  /*border-radius: 25px;*/
  /*border: 1px solid gray;*/
  background-color: white;
  width: 500px;
  height: 500px;

  margin:0 auto;
  box-sizing: border-box;
}

#sugangX{
  margin-left: 5px;
  color: black;
  float: left;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
}
#sugangX:hover,
#sugangX:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#sugangCopy{
  vertical-align: middle;
}
#sugangCopy:hover,
#sugangCopy:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#timeDiv{
  font-family: monospace;
  font-size: 100px;
}
#alarmButton1Div{
  postition: absolute;
  vertical-align: middle;

  /*margin:0 auto;*/
  width:500px;
}

#titleDiv{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: whitesmoke;
  /*border-radius: 25px 25px 1px 1px;*/
  border: 1px whitesmoke;
  margin-bottom: 20px;
  box-sizing: inherit;
}
#contentDiv{
  width: 100%;
  height: 400px;
  box-sizing: inherit;
}

.sugangText{
  border-radius: 3px;
  height: 25px;
}
.sugangInput{
  border: none;
  border-color: transparent;
  text-align: center;
  font-size: 25px;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
}
#sugangDiv {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 50px;
  margin-right: 50px;
  /*border-radius: 40px 40px 40px 40px;*/
  border: 1px solid black;
  background-color: mintcream;
  width: 400px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}
#sugangDiv:hover{
  background-color: whitesmoke;
}

#sugangInner1Div {
  float: left;
  position: relative;
  margin-left: 30px;
  width:100px;
  margin-top: 5px;
  vertical-align: middle;
  background-color: transparent;
}
#sugangInner2Div {
  display:inline-block;
  background-color: transparent;

  /*position: relative;*/
  width:150px;
  margin-top: 5px;
  vertical-align: middle;
}

.sugangAddButton {
  -moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
  box-shadow:inset 0px 0px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -webkit-border-top-left-radius:12px;
  -moz-border-radius-topleft:12px;
  border-top-left-radius:12px;
  -webkit-border-top-right-radius:12px;
  -moz-border-radius-topright:12px;
  border-top-right-radius:12px;
  -webkit-border-bottom-right-radius:12px;
  -moz-border-radius-bottomright:12px;
  border-bottom-right-radius:12px;
  -webkit-border-bottom-left-radius:12px;
  -moz-border-radius-bottomleft:12px;
  border-bottom-left-radius:12px;
  text-indent:0px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:40px;
  line-height:40px;
  width:60px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 0px 0px #ffffff;
}
.sugangAddButton:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
  cursor: pointer;
}.sugangAddButton:active {
   position:relative;
   top:1px;
 }

.alarmButton {
  -moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
  box-shadow:inset 0px 0px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -webkit-border-top-left-radius:12px;
  -moz-border-radius-topleft:12px;
  border-top-left-radius:12px;
  -webkit-border-top-right-radius:12px;
  -moz-border-radius-topright:12px;
  border-top-right-radius:12px;
  -webkit-border-bottom-right-radius:12px;
  -moz-border-radius-bottomright:12px;
  border-bottom-right-radius:12px;
  -webkit-border-bottom-left-radius:12px;
  -moz-border-radius-bottomleft:12px;
  border-bottom-left-radius:12px;
  text-indent:0px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:Arial;
  font-size: 18px;
  font-weight:bold;
  font-style:normal;
  height:40px;
  line-height:40px;
  width:60px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 0px 0px #ffffff;
}
.alarmButton:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
  cursor: pointer;
}.alarmButton:active {
   position:relative;
   top:1px;
 }

 #Logo{
   float: right;
 }
