<div>
  <input type="text" [(ngModel)]="currentSugangName" placeholder="교과목">
  <input type="text" [(ngModel)]="currentSugangNumber" placeholder="과목 번호">
  <button (click)="addSugang()">추가</button>
</div>
<div id="outerDiv">
  <div id="titleDiv">
    수강신청 리스트
  </div>
  <div id="contentDiv">
    <div id="sugangDiv" *ngFor="let sugang of sugangList">
      <button (click)="deleteSugang(sugang.sugangNumber)">삭제</button>
      <input class="sugangInput" type="text" size="10" [value]="sugang.sugangName" readonly>
      <input [attr.id]="'copy-' + sugang.priority" class="sugangInput" type="text" size="8" [value]="sugang.sugangNumber" readonly>
      <button (click)="copyClick(sugang.priority)">복사</button>
    </div>
  </div>
</div>
<div>
  <button (click)="startServerTime()">서버 시간 보기/동기화</button>
  <button (click)="alarmOn10sec()">10초 알람 설정</button>
  <button (click)="alarmOn30sec()">30초 알람 설정</button>
  <button (click)="alarmOn1min()">1분 알람 설정</button>
</div>
<div>
  {{hour}} : {{min.valueOf()}} : {{sec.valueOf()}}
</div>
